html,
body {
  padding: 0.2rem;
  margin: 1rem;
  font-family: monospace;
  background-color: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  text-align: center;
}

a {
  color: rgb(167, 177, 255);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
